@import 'bourbon';
@import 'breakpoints';

$red: #e74c3c;
$orange: #e67e22;
$yellow: #f1c40f;
$green: #2ecc71;
$blue: #3498db;
$purple: #9b59b6;
$gray: #95a5a6;
$asphalt: #34495e;

*, *:before, *:after {
  box-sizing: border-box;
}

body, textarea, input, button, select, td {
  font-family: helvetica, arial, sans-serif;
  font-size: 16px;
  font-weight: lighter;
  font-weight: 300;
  color: #333333;
  @include breakpoint($sm) {
    font-size: 14px;
  }
}

a, p, button, select, option {
  font-family: inherit;
  font-weight: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

object {
  pointer-events: none;
  height: inherit;
  width: inherit;
}

.code-block {
  padding: 25px 15px;
  background-color: #ffffff;
  border: 2px solid #f2f2f2;
  max-width: 700px;
  min-height: 180px;
  margin: 15px auto 15px 0;
  font-family: monospace, monospace;
  font-size: 1em;
  &--small {
    @extend .code-block;
    height: auto;
    width: auto;
    padding: 7px 5px;
  }
  &__code {
    display: inline-block;
  }
}

.code-block-in-paragraph {
  line-height: 28px;
}

h1, h2, h3, h4, h5, h6, th {
  font-family: helvetica, arial, sans-serif;
  font-weight: bolder;
  font-weight: 400;
}

h1 {
  font-size: 2em;
  line-height: 1.25;
}

h2 {
  font-size: 1.625em;
  line-height: 1.15384615;
}

h3 {
  font-size: 1.375em;
  line-height: 1.13636364;
}

h4 {
  font-size: 1.125em;
  line-height: 1.11111111;
}

@media (min-width: 43.75em) {
  main {
    font-size: 1em;
    line-height: 1.375;
  }
  h1 {
    font-size: 2.5em;
    line-height: 1.125;
  }
  h2 {
    font-size: 2em;
    line-height: 1.25;
  }
  h3 {
    font-size: 1.5em;
    line-height: 1.25;
  }
  h4 {
    line-height: 1.22222222;
  }
}

@media (min-width: 56.25em) {
  h1 {
    font-size: 3em;
    line-height: 1.05;
  }
  h2 {
    font-size: 2.25em;
    line-height: 1.25;
  }
  h3 {
    font-size: 1.75em;
    line-height: 1.25;
  }
}

.header {
  color: #ffffff;
  padding: 37px 15px;
  background: $red url('../images/batthern.png') 0 0 repeat;
  &__heading {
    margin: 0 0;
    font-size: 36px;
    @include breakpoint($sm) {
      font-size: 72px;
    }
  }
  &__subheading {
    display: block;
    font-size: 20px;
    &--small {
      font-size: 16px;
      display: none;
      @include breakpoint($sm) {
        display: block;
      }
    }
  }
  &__github-repo {
    position: absolute;
    top: 20px;
    right: 12%;
    text-align: center;
    height: 45px;
    margin-bottom: 8px;
    @include breakpoint($sm) {
      top: 33px;
      right: 13%;
      height: 80px;
    }
  }
}

.hgroup {
  max-width: 430px;
  margin: 0 auto;
  @include breakpoint($sm) {
    margin: 0 auto 0 18%;
  }
}

.main {
  background: linear-gradient(#fafafa, #f9f9f9);
  padding-top: 25px;
  &__inner {
    @include clearfix;
    max-width: 980px;
    margin: 0 auto;
    padding: 20px;
  }
}

.side {
  @extend .text-center;
  float: none;
  padding: 10px;
  margin: 0 auto;
  border-top: 2px solid #e0e0e0;
  border-bottom: 2px solid #e0e0e0;
  @include breakpoint($md) {
    width: 200px;
    float: left;
  }
  &__heading {
    font-size: 1.25em;
    font-weight: bolder;
    font-weight: 400;
    margin-bottom: 10px;
  }
  &__link {
    @include clearfix;
    @extend .display-block;
    font-size: 16px;
    background-color: $blue;
    margin-bottom: 10px;
    border-radius: 3px;
    color: #ffffff;
    &:hover {
      @extend .transition;
      background-color: $red;
    }
    &__object {
      float: left;
      height: 65px;
      width: 80px;
      margin-left: 5px;
    }
    &__text {
      float: right;
      margin: 20px 15px 0 0;
    }
  }
}

.content {
  margin: 0 auto;
  float: none;
  padding: 15px;
  @include breakpoint($md) {
    width: 680px;
    float: right;
  }
  &__page-heading {
    margin: 0 0;
  }
  &__page-subheading {
    font-size: 18px;
    margin-left: 5px;
  }
  &__subsection {
    margin-bottom: 15px;
    &__heading {
      border-bottom: 2px solid #e0e0e0;
    }
  }
}

.picker-container {
  text-align: center;
  @include breakpoint($sm) {
    text-align: left;
  }
  [class^=timepicker-] {
    width: 100%;
    @include breakpoint($sm) {
      width: auto;
    }
  }
}

.copyright {
  text-align: center;
  @include breakpoint($sm) {
    text-align: left;
  }
}

.footer {
  padding: 30px 0;
  background-color: #212327;
  color: #ffffff;
  font-size: 14px;
}

.list {
  margin: 0 auto;
  padding: 0;
  &__item {
    display: inline-block;
    margin: 0 auto;
    list-style: none;
    width: 171px;
    @include breakpoint($md) {
      width: 100%;
    }
  }
}

.display-block {
  display: block;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.indent {
  margin-left: 25px;
}

.transition {
  @include transition(all, 0.3s);
}

.smooth-scroll {
  cursor: pointer;
}

.underline {
  position: relative;
  color: $blue;
}

.underline:after {
  @extend .transition;
  display: block;
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0;
  height: 1px;
  background-color: $blue;
  content: "";
}

.underline:hover:after {
  width: 100%;
}