*, *:before, *:after {
  box-sizing: border-box; }

body, textarea, input, button, select, td {
  font-family: helvetica, arial, sans-serif;
  font-size: 14px;
  font-weight: lighter;
  font-weight: 300;
  color: #333333; }

a, p, button, select, option {
  font-family: inherit;
  font-weight: inherit; }

a {
  text-decoration: none;
  color: inherit; }

object {
  pointer-events: none;
  height: inherit;
  width: inherit; }

.code-block {
  padding: 25px 15px;
  background-color: #ffffff;
  border: 2px solid #f2f2f2;
  max-width: 700px;
  margin: 15px auto 15px 0;
  font-family: monospace, monospace;
  font-size: 1em; }

h1, h2, h3, h4, h5, h6, th {
  font-family: helvetica, arial, sans-serif;
  font-weight: bolder;
  font-weight: 400; }

h1 {
  font-size: 2em;
  line-height: 1.25; }

h2 {
  font-size: 1.625em;
  line-height: 1.15384615; }

h3 {
  font-size: 1.375em;
  line-height: 1.13636364; }

h4 {
  font-size: 1.125em;
  line-height: 1.11111111; }

@media (min-width: 43.75em) {
  main {
    font-size: 1em;
    line-height: 1.375; }
  h1 {
    font-size: 2.5em;
    line-height: 1.125; }
  h2 {
    font-size: 2em;
    line-height: 1.25; }
  h3 {
    font-size: 1.5em;
    line-height: 1.25; }
  h4 {
    line-height: 1.22222222; } }

@media (min-width: 56.25em) {
  h1 {
    font-size: 3em;
    line-height: 1.05; }
  h2 {
    font-size: 2.25em;
    line-height: 1.25; }
  h3 {
    font-size: 1.75em;
    line-height: 1.25; } }

.header {
  color: #ffffff;
  padding: 37px 15px;
  background: #e74c3c url("../images/batthern.png") 0 0 repeat; }
  .header__heading {
    margin: 0 0;
    font-size: 72px; }
  .header__subheading {
    display: block;
    font-size: 20px; }
    .header__subheading--small {
      font-size: 16px; }
  .header__github-repo {
    position: absolute;
    top: 33px;
    right: 13%;
    text-align: center;
    height: 80px;
    margin-bottom: 8px; }

.hgroup {
  max-width: 430px;
  margin: 0 auto 0 18%; }

.main {
  background: linear-gradient(#fafafa, #f9f9f9);
  padding-top: 25px; }

.content {
  max-width: 980px;
  margin: 0 auto; }
  .content__subsection {
    margin-bottom: 15px; }
    .content__subsection__heading {
      margin: 0 0; }
    .content__subsection__subheading {
      font-size: 18px;
      margin-left: 5px; }

.footer {
  padding: 30px 0;
  background-color: #212327;
  color: #ffffff;
  font-size: 14px; }

.display-block {
  display: block; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.indent {
  margin-left: 25px; }

.transition, .underline:after {
  -webkit-transition: all, 0.3s;
  -moz-transition: all, 0.3s;
  transition: all, 0.3s; }

.underline {
  position: relative;
  color: #3498db; }

.underline:after {
  display: block;
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0;
  height: 2px;
  background-color: #3498db;
  content: ""; }

.underline:hover:after {
  width: 100%; }
