*, *:before, *:after {
  box-sizing: border-box; }

body, textarea, input, button, select, td {
  font-family: helvetica, arial, sans-serif;
  font-size: 16px;
  font-weight: lighter;
  font-weight: 300;
  color: #333333; }
  @media screen and (min-width: 768px) {
    body, textarea, input, button, select, td {
      font-size: 14px; } }

a, p, button, select, option {
  font-family: inherit;
  font-weight: inherit; }

a {
  text-decoration: none;
  color: inherit; }

object {
  pointer-events: none;
  height: inherit;
  width: inherit; }

.code-block, .code-block--small {
  padding: 25px 15px;
  background-color: #ffffff;
  border: 2px solid #f2f2f2;
  max-width: 700px;
  min-height: 180px;
  margin: 15px auto 15px 0;
  font-family: monospace, monospace;
  font-size: 1em; }
  .code-block--small {
    height: auto;
    width: auto;
    padding: 7px 5px; }
  .code-block__code {
    display: inline-block;
    word-break: break-all; }

.code-block-in-paragraph {
  line-height: 28px; }

h1, h2, h3, h4, h5, h6, th {
  font-family: helvetica, arial, sans-serif;
  font-weight: bolder;
  font-weight: 400; }

h1 {
  font-size: 2em;
  line-height: 1.25; }

h2 {
  font-size: 1.625em;
  line-height: 1.15384615; }

h3 {
  font-size: 1.375em;
  line-height: 1.13636364; }

h4 {
  font-size: 1.125em;
  line-height: 1.11111111; }

@media (min-width: 43.75em) {
  main {
    font-size: 1em;
    line-height: 1.375; }
  h1 {
    font-size: 2.5em;
    line-height: 1.125; }
  h2 {
    font-size: 2em;
    line-height: 1.25; }
  h3 {
    font-size: 1.5em;
    line-height: 1.25; }
  h4 {
    line-height: 1.22222222; } }

@media (min-width: 56.25em) {
  h1 {
    font-size: 3em;
    line-height: 1.05; }
  h2 {
    font-size: 2.25em;
    line-height: 1.25; }
  h3 {
    font-size: 1.75em;
    line-height: 1.25; } }

.header {
  color: #ffffff;
  padding: 37px 15px;
  background: #e74c3c url("../images/batthern.png") 0 0 repeat; }
  .header__heading {
    margin: 0 0;
    font-size: 36px; }
    @media screen and (min-width: 768px) {
      .header__heading {
        font-size: 72px; } }
  .header__subheading {
    display: block;
    font-size: 20px; }
    .header__subheading--small {
      font-size: 14px; }
      @media screen and (min-width: 768px) {
        .header__subheading--small {
          font-size: 16px; } }
  .header__github-repo {
    position: absolute;
    top: 10px;
    right: 5%;
    text-align: center;
    height: 45px;
    margin-bottom: 8px; }
    @media screen and (min-width: 768px) {
      .header__github-repo {
        top: 33px;
        right: 13%;
        height: 80px; } }

.hgroup {
  max-width: 430px;
  margin: 0 auto; }
  @media screen and (min-width: 768px) {
    .hgroup {
      margin: 0 auto 0 18%; } }

.main {
  background: linear-gradient(#fafafa, #f9f9f9);
  padding-top: 25px; }
  .main__inner {
    max-width: 980px;
    margin: 0 auto;
    padding: 10px; }
    .main__inner::after {
      clear: both;
      content: "";
      display: table; }
    @media screen and (min-width: 768px) {
      .main__inner {
        padding: 20px; } }

.side {
  float: none;
  padding: 10px;
  margin: 0 auto;
  border-top: 2px solid #e0e0e0;
  border-bottom: 2px solid #e0e0e0; }
  @media screen and (min-width: 992px) {
    .side {
      width: 200px;
      float: left; } }
  .side__heading {
    font-size: 1.25em;
    font-weight: bolder;
    font-weight: 400;
    margin-bottom: 10px; }
  .side__link {
    font-size: 16px;
    background-color: #3498db;
    margin-bottom: 10px;
    border-radius: 3px;
    color: #ffffff; }
    .side__link::after {
      clear: both;
      content: "";
      display: table; }
    .side__link:hover {
      background-color: #e74c3c; }
    .side__link__object {
      float: left;
      height: 65px;
      width: 80px;
      margin-left: 5px; }
    .side__link__text {
      float: right;
      margin: 20px 15px 0 0; }

.content {
  margin: 0 auto;
  float: none; }
  @media screen and (min-width: 992px) {
    .content {
      width: 680px;
      float: right;
      padding: 15px; } }
  .content__page-heading {
    margin: 0 0; }
  .content__page-subheading {
    font-size: 18px;
    margin-left: 5px; }
  .content__subsection {
    margin-bottom: 15px; }
    .content__subsection__heading {
      border-bottom: 2px solid #e0e0e0; }

.picker-container {
  text-align: center; }
  @media screen and (min-width: 768px) {
    .picker-container {
      text-align: left; } }
  .picker-container [class^=timepicker-] {
    width: 100%; }
    @media screen and (min-width: 768px) {
      .picker-container [class^=timepicker-] {
        width: auto; } }

.copyright {
  text-align: center; }
  @media screen and (min-width: 768px) {
    .copyright {
      text-align: left; } }

.footer {
  padding: 30px 0;
  background-color: #212327;
  color: #ffffff;
  font-size: 14px; }

.list {
  margin: 0 auto;
  padding: 0; }
  .list__item {
    display: inline-block;
    margin: 0 auto;
    list-style: none;
    width: 171px; }
    @media screen and (min-width: 992px) {
      .list__item {
        width: 100%; } }

.display-block, .side__link {
  display: block; }

.text-center, .side {
  text-align: center; }

.text-right {
  text-align: right; }

.indent {
  margin-left: 25px; }

.hidden {
  display: none; }
  @media screen and (min-width: 768px) {
    .hidden {
      display: initial; } }

.transition, .side__link:hover, .underline:after {
  -webkit-transition: all, 0.3s;
  -moz-transition: all, 0.3s;
  transition: all, 0.3s; }

.smooth-scroll {
  cursor: pointer; }

.underline {
  position: relative;
  color: #3498db; }

.underline:after {
  display: block;
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0;
  height: 1px;
  background-color: #3498db;
  content: ""; }

.underline:hover:after {
  width: 100%; }
